/* GLOBAL CSS */
* {
  padding: 0;
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: block;
  height: 100vh;
  background: rgb(34, 173, 195);
  background: -moz-linear-gradient(0deg, rgba(34, 173, 195, 1) 0%, rgba(214, 253, 45, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(34, 173, 195, 1) 0%, rgba(214, 253, 45, 1) 100%);
  background: linear-gradient(0deg, rgba(34, 173, 195, 1) 0%, rgba(214, 253, 45, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22adc3", endColorstr="#d6fd2d", GradientType=1);
}

/* END GLOBAL CSS */



/* LOGIN MODAL CSS */
div[data-modal="login-button-group"] {
  display: flex;
  padding: 1rem;
}

div[data-modal="login-left-button"] {
  flex: 0 0 20%;
  max-width: 20%;
  text-align: -webkit-left;
}

div[data-modal="login-right-button"] {
  flex: 0 0 80%;
  max-width: 80%;
  text-align: -webkit-right;
}

.overflowAnimate {
  overflow: hidden;

}

/* LOGIN MODAL END */