/* GLOBAL CSS */
* {
  padding: 0;
  margin: 0 auto;
  height: auto;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gradient-background {
  background: rgb(85, 172, 186);
  background: -moz-linear-gradient(0deg, rgba(85, 172, 186, 1) 0%, rgba(223, 245, 129, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(85, 172, 186, 1) 0%, rgba(223, 245, 129, 1) 100%);
  background: linear-gradient(0deg, rgba(85, 172, 186, 1) 0%, rgba(223, 245, 129, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#55acba", endColorstr="#dff581", GradientType=1);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* END GLOBAL CSS */



/* LOGIN MODAL CSS */
div[data-modal="login-button-group"] {
  display: flex;
  padding: 1rem;
}

div[data-modal="login-left-button"] {
  flex: 0 0 20%;
  max-width: 20%;
  text-align: left;
}

div[data-modal="login-right-button"] {
  flex: 0 0 80%;
  max-width: 80%;
  text-align: right;
}

div[data-about="modal-header-text"] {
  align-self: center;
}

.overflowAnimate {
  overflow: hidden;
}

/* LOGIN MODAL END */

/*  PAGEHEADER START */
div[data-pageheader="header-text"] {
  display: flex;
  align-self: center;
  font-size: 3rem;
}

div[data-pageheader="container"] {
  padding: 15px;
}

/*  PAGEHEADER END */

/* ADDDEVICE START */
.add-device {
  width: fit-content;
  padding: 10px;
  border: 2.5px solid rgba(34, 36, 38, .15);
  border-radius: 10px;
}

.add-device:hover {
  border: 2.5px solid rgba(34, 36, 38, .50);
}

/* ADDDEVICE END */

/* UTILITY CSS */
.center-text {
  text-align: -webkit-center;
  text-align: center;
}

.justify-center {
  justify-content: center;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 2rem !important;
}

/* END UTILITY CSS */